/* Quarto CSS Parameters */

h1 {
  font-family: 'Cambria';
  font-size: 35px;
  font-weight: bold;
}

h2 {
  font-family: 'Arial';
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-family: 'Arial';
  font-size: 26px;
  font-weight: bold;
}

h5 {
  font-family: 'Arial';
  font-size: 25px;
  font-variant: small-caps;
}

p {
  font-family: 'Arial';
  font-size: 22px;
}

dt {
  font-family: 'Arial';
  font-size: 24px;
  font-weight: bold;
}