/* CSS for App */

/* Text formats */
/* Banner subheader */
p {
  font-family: "Arial Narrow", sans-serif; 
  font-size: clamp(1.8rem, 1.6vw, 2.6rem); 
  color: #05477D;
  margin-top: -11px; 
  margin-bottom: 0px; 
  opacity: 0.9;
}

/* Banner header */
h1 {
  font-family: "Cambria", sans-serif;
  font-weight: bold;
  color: #05477D;
  font-size: clamp(3.9rem, 5vw, 4.5rem); 
  margin-bottom: 0px;
  margin-top: -8px;
}

/* Species Selection */
h2 {
  font-family: "Cambria";
  text-align: left;
  color: #DAEFF8;
  font-size: 35px;
  margin-bottom: -8px;
}

/* Section Headers */
h3 {
  font-family: "Cambria";
  font-size: 28px;
  font-variant: small-caps;
  color: #808080;
  font-weight: bold;
  margin-bottom: -30px;
}

/* Dropdown Headers */
h4 {
  font-family: 'Arial Narrow';
  font-weight: bold;
  font-size: 20px;
  color: white; 
  margin-bottom: 0rem;
}

/* Tab Titles */
h5 {
  font-family: 'Arial Narrow';
  font-size: 19px; 
  font-weight: bold; 
  margin-top: 5px;
  color: #2B70B1;
}

/* Pill Titles */
h6 {
  font-family: 'Arial Narrow';
  font-size: 20px;
  margin-bottom: 0rem; 
}

#download-text {
  margin-bottom: 0px;
}



/* Space Behind Cards */
.bslib-sidebar-layout>.main {
  padding-left: 45px;
  padding-right: 45px; 
  background: #f2f2f2;
}
/* Checkboxes */
.shiny-input-container .checkbox label {
  font-family: 'Arial Narrow';
  color: white;
  font-size: 18px;
}

.shiny-input-container .checkbox input:checked {
  background-color: #5EB6D9;
}

.shiny-input-container .checkbox input[type='checkbox'] {
  border-radius: 200px;
}



/* Banner */
#banner {
  background: linear-gradient(144deg, #DAEFF8 30%, #69BBFC 100%);
  padding: 20px 10px;
  min-width: 100px;
  align-items: center;
  text-align: left;
  display: flex;
}



/* Sidebar */
.bslib-sidebar-layout>.sidebar {
  background: #2B70B1;
}

.bslib-sidebar-layout>.collapse-toggle>.collapse-icon {
  color: #5EB6D9;
  opacity: 1;
}
/* Sidebar ends at bottom of page */
.bslib-sidebar-layout {
  margin-bottom: 0px;
}
/* Remove empty space at bottom (-24 is max) */
.bslib-page-main {
  margin-bottom: -24px;
}


/* Reset Button */
.btn-warning {
  font-family: "Arial Narrow";
  font-size: 18px;
  color: white;
  background: #05477D;
  border-color: #05477D;
  border-radius: 200px;
    --bs-btn-active-bg: #05477D;
    --bs-btn-active-border-color: #2B70B1;
    --bs-btn-active-color: white;
    --bs-btn-padding-y: 0.5em;
}

.btn-warning:hover {
  color: white;
  background: #05477D;
  border-color: #05477D;
  box-shadow: 0px 0px 10px #DAEFF8;
}

.btn-warning:active {
  box-shadow: 0px 0px 0px white;
}



/* Dropdown menus */
.selectize-input.focus {
  background: #DAEFF8;
  border-color: #5EB6D9;
  box-shadow: 0px 0px 4px 0.1rem #5EB6D9;
  font-family: "Arial Narrow";
  font-size: 17px;
  color: #02233E;
}

.selectize-input {
  background: #DAEFF8;
  font-family: "Arial Narrow";
  font-size: 17px;
  color: #02233E;
  border: transparent;
}

.selectize-dropdown {
  background: #DAEFF8;
  font-family: "Arial Narrow";
  font-size: 17px;
  color: #02233E;
}

.selectize-input input {
  background: #DAEFF8;
  font-size: 17px;
  color: #02233E;
}

.selectize-input.full {
  background: #DAEFF8;
  color: #02233E;
}



/* Switches */
.form-check-input:checked {
  background-color: #05477D;
  border-color: #05477D;
}

label.form-check-label {
  font-family: 'Arial Narrow';
  font-weight: normal;
  font-size: 18px;
  color: white;
}
/* Doesn't work */
.form-group .shiny-input-container {
  margin-bottom: -15px;
}



/* Download Buttons */
.btn-default.shiny-download-link {
  font-family: 'Arial Narrow'; 
  font-size: 17px;
  padding-bottom: 10px;
  padding-left: 20px; 
  background: transparent;
  border-color: #2699FC;
  color: white;
  text-align: left;
}

.btn-default.shiny-download-link:hover {
  background: #002364 !important;
  border-color: #002364 !important;
  color: white !important;
}

.btn-default.shiny-download-link:active {
  border-color: #2699FC !important;
  color: white !important;
}



/* Nav */
.nav {
  border-color: transparent; 
  background: transparent; 
}
/* This makes overlap with nav tabs */
.bslib-card {
  border-color: #B6DCF5;
  border-width: 4px;
  border-radius: 20px;
  box-shadow: 5px 10px 15px 1px #E8E8E8;
  
  margin-top: -30px;
  margin-bottom: 45px;
}
/* Title Rows of Cards */
.bslib-navs-card-title {
  margin-top: -25px;
  padding-bottom: 11px;
}

.card-body {
  padding: 30px; !important
}

/* Nav Tabs */
.nav-tabs .nav-link.active, .nav-tabs>li>a.active {
  font-family: 'Arial Narrow';
  font-weight: bold;
  font-size: 19px;
  color: #002364;
  background: #B6DCF5;
  border-color: #B6DCF5;
  border-width: 4px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: border-color 0.15s ease-in-out;
  padding-top: 2px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 28px;
  margin-bottom: -5px;
  margin-top: 23px;
}

.nav-tabs .nav-link, .nav-tabs>li>a {
  font-family: 'Arial Narrow';
  font-weight: bold; 
  font-size: 19px; 
  color: #002364;
  background: transparent;
  border-color: transparent;
  border-width: 4px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: border-color 0.15s ease-in-out;
  padding-top: 2px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 28px;
  margin-bottom: -5px;
  margin-top: 23px;
}

.nav-tabs .nav-link:hover, .nav-tabs>li>a:hover {
  font-family: 'Arial Narrow';
  font-weight: bold;
  font-size: 19px;
  border-color: #B6DCF5;
  border-width: 4px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: border-color 0.15s ease-in-out;
  padding-top: 2px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 28px;
  margin-bottom: -5px;
  margin-top: 23px;
}

.nav-link, .nav-tabs>li>a {
  transition: border-color 0.15s ease-in-out;
  border-color: #B6DCF5;
  padding-top: 2px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 28px;
  margin-bottom: -5px;
  margin-top: 23px;
}

.info-tab .card-header-pills {
  margin-top: -17px; 
  margin-bottom: 12px; 
  margin-left: 0px;
}



/* Nav Pills */
.nav-pills .nav-link {
  color: #2699FC;
  font-size: 17px;
  padding-top: 12px; 
  padding-bottom: 12px;
}

.nav-pills .nav-link.active {
  font-family: "Arial Narrow";
  color: #fff;
  background: #2B70B1;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  padding-top: 12px; 
  padding-bottom: 12px;
}

.nav-pills {
  font-family: "Arial Narrow";
  color: #2699FC;
}

.nav-pills>li>a:hover {
  color: #fff; 
  background: #B6DCF5;
  transition: background 0.15s ease-in-out, color 0.15s ease-in-out;
  padding-top: 12px; 
  padding-bottom: 12px;
}



/* Info Circle Tooltips */
#info-circle {
  position: absolute; 
  top: 0px; 
  left: 5px;
  color: #5EB6D9;
}

.tooltip-inner {
  font-family: 'Arial Narrow';
  font-size: 20px;
  color: white;
  max-width: 600px !important;
  width: auto !important;
  background-color: #002364 !important;
  text-align: left;
  
}

.container-fluid {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
}

g.hovertext > path {opacity: .9;}

.color-swatch {
  display: inline-block;
  width: 18px;
  height: 15px; 
  border: 1px solid #000;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 8px;
}





.form-check-label {
  font-family: "Cambria";
  font-weight: bold;
  cursor: pointer;
}

.form-check-input:focus {
  border-color: #002364;
  box-shadow: 0px 0px 4px 0.1rem #002364;
}

.nav {
  --bs-nav-link-hover-color: #000000
  --bs-nav-link-border-color: transparent
}



.dashboard_icon {
  background: url('graphics_icons/sfd_icon-DB-dk.png'); 
  background-position: left; 
  background-repeat: no-repeat;
  height: 32px; 
  width: 32px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.intro_icon {
  background: url('graphics_icons/sfd_icon-info-dk.png');
  background-position: left; 
  background-repeat: no-repeat;
  height: 32px; 
  width: 32px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.mktsum_icon {
  background: url('graphics_icons/sfd_icon-MS-lt.png'); 
  background-position: left; 
  background-repeat: no-repeat;
  height: 32px; 
  width: 32px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.val_icon {
  background: url('graphics_icons/sfd_icon-val-lt.png'); 
  background-position: left; 
  background-repeat: no-repeat;
  height: 32px; 
  width: 32px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.vol_icon {
  background: url('graphics_icons/sfd_icon-vol-lt.png'); 
  background-position: left; 
  background-repeat: no-repeat;
  height: 32px; 
  width: 32px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.advmet_icon {
  background: url('graphics_icons/sfd_icon-AM-lt.png'); 
  background-position: left; 
  background-repeat: no-repeat;
  height: 32px; 
  width: 32px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.price_icon {
  background: url('graphics_icons/sfd_icon-price-lt.png'); 
  background-position: left; 
  background-repeat: no-repeat;
  height: 32px; 
  width: 32px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.download_icon {
  background: url('graphics_icons/sfd_icon-DL-lt.png'); 
  background-position: left; 
  background-repeat: no-repeat;
  height: 32px; 
  width: 32px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.download_icon2 {
  background: url('graphics_icons/sfd_icon-DL-dk.png'); 
  background-position: left; 
  background-repeat: no-repeat;
  height: 32px; 
  width: 32px; 
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

#download_page1, #download_landings_page1, #download_products_page1,
#download_page2, #download_landings_page2, #download_products_page2,
#download_page3, #download_products_page3, #download_page4,
#download_coast_trade_page1, #download_coast_trade_page2, 
#download_coast_landings_page1, #download_coast_landings_page2, 
#download_coast_products_page1, #download_coast_products_page2, 
#download_coast_products_page3 {
  border-color: #C6E6F0;
  background: #C6E6F0;
  color: #002364;
  text-align: center; !important
}

